@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');

*{
    margin : 0;
    padding: 0;   
    color: #111;
}

body{
    background-color: rgb(206, 206, 206);
}

.header{
    height: 120px;
    top: 0px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.month-container{
    padding: 15px 10px 5px 10px;
}

.total-expense-conatiner{
    padding: 0 10px;
}

.expense-breakdown-container{
    display: flex;
    padding: 5px 10px;
}

.expense-breakdown-container div {
    padding-left: 5px;
}

.expense-list{
    padding-bottom: 50px;
}

.expense-card{
    background-color: white;
    border-radius: 5px;
    margin: 10px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    display: flex;
}

.category-container{
    margin: 5px;
    padding: 5px;
    font-size: 50px;
}

.expense-info-container{
    display: flex;
    flex-grow: 1;

    margin: 5px;
}

.expense-tile-container{
    padding-top: 10px;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.expense-datetime-container{
    padding-top: 10px;
    margin-right: 10px;
}

.expense-amount{
    font-size: 25px;
}

.new-expense-btn-container{
    height: 50px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.new-expense-btn{
    width: 100%;
    color: #ffffff;
    background-color: rgb(72, 161, 235);
    border-radius: 5px;
    border-style: none;
}